*/node_modules
*/package-lock.json
*/.DS_STORE
*/dist
.vscode
DatingApp.API/bin
DatingApp.API/bin/**
DatingApp.API/obj
DatingApp.API/obj/**
DatingApp.API/packages
DatingApp.API/*.db
DatingApp.API/*.db-shm
DatingApp.API/*.db-wal