<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="form-group">
    <label class="control-label mr-3">I am a:</label>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        value="male"
        formControlName="gender"
      />
      <label class="form-check-label">
        Male </label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        value="female"
        formControlName="gender"
      />
      <label class="form-check-label"> Female </label>
    </div>
  </div>
  <app-text-input
    formControlName="userName"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    formControlName="knownAs"
    [label]="'Known As'"
  ></app-text-input>
  <app-date-input
    formControlName="dateOfBirth"
    [label]="'Date Of Birth'"
    [maxDate]="maxDate"
  ></app-date-input>
  <app-text-input formControlName="city" [label]="'City'"></app-text-input>
  <app-text-input
    formControlName="country"
    [label]="'Country'"
  ></app-text-input>
  <app-text-input
    formControlName="password"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    formControlName="confirmPassword"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>
  <div class="form-group text-center">
    <button type="submit" class="btn btn-success mr-2">Register</button>
    <button type="button" class="btn btn-default mr-2" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
