.card {
  border: none;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
  }
  &-body {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }
  }
  &-bubble {
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
    background-color: #28a745;
    padding: 0.5rem 1rem;
    color: white;
    margin: 5px 0;
    max-width: calc(100% - 20px);
    &--other-user {
      background-color: #333;
      margin-right: 10px;
    }
  }
}

.rounded-circle {
  max-height: 50px;
}
