<ng-container *ngIf="messageService.messageThread$ | async; let messages">
  <div class="card">
    <div class="card-body pt-0">
      <div *ngIf="messages?.length < 1" class="pb-3">
        No messages yet... why don't you say hi?
      </div>
      <ul *ngIf="messages?.length > 0" class="chat">
        <li *ngFor="let message of messages">
          <div>
            <span class="chat-img float-right">
              <img
                [src]="message.senderPhotoUrl || './assets/user.png'"
                [alt]="message.senderUserName"
                class="rounded-circle"
              />
            </span>
            <div class="chat-body">
              <div class="header">
                <small class="text-muted">
                  <i class="fa fa-clock-o"></i>
                  <span>
                    {{ message.messageSent | timeago }}
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      !message.dateRead && message.senderUserName !== username
                    "
                  >
                    (unread)
                  </span>
                  <span
                    class="text-success"
                    *ngIf="
                      message.dateRead && message.senderUserName !== username
                    "
                  >
                    (read {{ message.dateRead | timeago }})
                  </span>
                </small>
              </div>
              <p
                [class.justify-content-end]="
                  message.senderUserName === username
                "
              >
                <span
                  class="chat-bubble"
                  [class.chat-bubble--other-user]="
                    message.senderUserName === username
                  "
                >
                  {{ message.content }}
                </span>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
        <div class="input-group">
          <input
            name="messageContent"
            required
            [(ngModel)]="messageContent"
            type="text"
            class="form-control input-sm"
            placeholder="Send a private message"
          />
          <div class="input-group-append">
            <button
              [disabled]="!messageForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
