img.img-thumbnail {
  height: 100px;
  min-width: 100px;
  margin-bottom: 2px;
}

.nv-file-over {
  // styling for the file drop zone when a file is dragged onto it
  border: dotted 3px red;
}

input[type=file] {
  // hides the no file chosen text
  color:transparent;
}
